.body{
    width: 90%;
    height: 90vh;
    margin: 5vh;
    border: 2px solid white;
    border-radius: 50px;
    padding: 30px;
}

.body h1 {
    width: 100%;
    text-align: center;
    font-size: 300%;
    margin: 3px;
}

.body h5 {
    width: 100%;
    text-align: center;
    font-size: x-large;
    margin: 0px;
}

.body a {
    color: #0070f3;
    text-decoration: none;
    font-weight: 900;
}

.body h2 {
    font-size: xx-large;
    margin: 2px;
}
