.title {
    margin: 5%;
    width: 90%;
    text-align: center;
    font-size: 300%;
    border: 4px solid white;
    outline: 4px solid;
    border-radius: 50px;
    padding: 40px;
}

.dp {
    width: 100%;
    margin-top: -10px;
    text-align: center;
    font-size: x-large;
}

.dp b {
    color: #0070f3;
}

.blog footer {
    color: #ff5e5e;
    position: fixed;
    left: 50%;
    bottom: 2px;
    transform: translateX(-50%);

    text-align: center;
    padding: 10px;

    background-color: #141414;

    border: 1px solid white;
    border-radius: 30px;
}

.blog footer i {
    color: #0070f3;
    font-size: large;
}

.blog footer span{
    color: white;
}

.main {
    height: 100%;
    width: 90%;
    margin: 5%;
    border: 2px solid white;
    border-radius: 30px;
    padding: 30px;
}

.main b , .main i {
    color: #0070f3
}